<div>
  <p>Sign Up With a New Account:</p>
  <form action="/signup" method="post">
    <label for="fname">Username</label><br>
    <input type="text" name="username"><br>
    <label for="fname">Password</label><br>
    <input type="text" name="password">
    <input type="submit">
  </form>
  <p>Sign In With an Existing Account</p>
  <form action="/signin" method="post">
    <label for="fname">Username</label><br>
    <input type="text" name="username"><br>
    <label for="fname">Password</label><br>
    <input type="text" name="password">
    <input type="submit">
  </form>
</div>